.header{
    position: relative;
    width: 100%;
    height: 768px;
    background-image: url('../../assets/images/header-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

.header-gif{
    width: 50%;
    height: 150px;
    background-image: url('../../assets/images/Fast-Moving-Truck-Transportation-Delivery-Service-Logo.gif');
}