.navbar{
    position: fixed;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d9d9;
}

.active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sticky{
    height: 3rem;
    background-color: white;
}

.logo-container img{
    width: 80px;
    transform: scale(4);
}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li{
    cursor: pointer;
    position: relative;
    font-size: 1.3em;
    font-weight: 500;
    color: #3f3f3f;
    margin-right: 30px;
}

.navbar ul li::after{
    position: absolute;
    content: '';
    width: 60%;
    height: 5px;
    top: 20px;
    left: 0;
    bottom: 0;
    background-color: black;
    margin-top: 15px;
    transform: scale(0,1);
}

.navbar ul li:hover::after{
    transition: .2s ease-in-out;
    transform: scale(1,1);
}

.navbar .btn-panel{
    display: flex;
}

.navbar .btn-panel i{
    color: #3f3f3f;
    margin-right: 5px;
}

.navbar .btn-panel input{
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    padding: 2px 5px;
    color: #3f3f3f;
    font-size: 1.3em;
    font-weight: 500;
    background-color: #d9d9d9;
    margin-right: 25px;
    transition: background-color .5s;
}

.navbar .btn-panel input:hover{
    background-color: rgb(0, 0, 0, .1);
}

.login-btn{
    border: none;
    border-radius: 5px;
}

.signup-btn{
    border: 2px solid #3f3f3f;
    border-radius: 5px;
}
